{% extends 'base.html' %}
{% load static %}

{% block page_header %}
  <div class="container header-container">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container-fluid hero-callout" role="img" aria-label="Modern living room">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col">
          <h1 class="logo-font title">Welcome to Decor Dreams!</h1> <br />
          <h2 class="logo-font slogan d-none d-md-block">Turn your house into a haven and transform your dreams into reality!</h2>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="my-5 margin-top-0">
          <div class="d-flex flex-row justify-content-center">
            <a href="{% url 'products' %}" class="button home-button btn rounded-pill text-uppercase py-3 logo-font font-weight-bold mb-5 mr-2">Shop Now</a>
            <a href="" class="button home-button btn rounded-pill text-uppercase py-3 logo-font font-weight-bold mb-5">Schedule a Consultation</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-3">
    <div class="row">
      <div class="col-md-6">
        <div class="jumbotron text-center">
          <div class="about-us-text">
            <h3 class="logo-font title"><strong>Discover Unique Pieces</strong></h3>
            <p>Explore our carefully selected collection of <strong>stylish homeware and decorations</strong>, featuring elegant sofas, chic tables & desks, cozy chairs, and captivating outdoor living essentials.</p>
            <a href="{% url 'products' %}" class="button home-button btn rounded-pill text-uppercase py-3 logo-font font-weight-bold mb-5 mr-2">Shop Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="jumbotron text-center">
          <div class="about-us-text">
            <h3 class="logo-font title mb-2"><strong>Elevate Your Space</strong></h3>
            <p>Transform your home with our tailored <strong>interior design services</strong>. Our expert team helps plan and design your space just for you, all across Ireland.</p>
            <a href="" class="button home-button btn rounded-pill text-uppercase py-3 logo-font font-weight-bold mb-5">Schedule a Consultation</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

