<footer class="footer bg-white">
    <div class="container pt-3">
      <div class="row text-uppercase">
        <div class="col-6 col-md-3">
          <a href="#"><img class="footer_logo" src="https://decor-dreams.s3.eu-west-1.amazonaws.com/static/icons/logo.png" alt="Decor Dreams logo" width="120" /></a>
          <ul class="list-unstyled mt-2">
            <li>
              <a class="link" target="_blank" href="https://www.facebook.com/profile.php?id=61557145091799" rel="external" aria-label="Visit our Facebook page (opens in new tab)">FACEBOOK</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-md-3 order-md-1">
          <p class="mb-2"><strong>Payment Methods</strong></p>
          <ul class="list-inline">
            <li class="list-inline-item">
              <img src="https://decor-dreams.s3.eu-west-1.amazonaws.com/static/icons/payment_visa.png" alt="Visa payments" width="30" draggable="false" />
            </li>
            <li class="list-inline-item">
              <img src="https://decor-dreams.s3.eu-west-1.amazonaws.com/static/icons/payment_mastercard.png" alt="Mastercard payments" width="30" draggable="false" />
            </li>
            <li class="list-inline-item">
              <img src="https://decor-dreams.s3.eu-west-1.amazonaws.com/static/icons/payment_apple.png" alt="ApplePay payments" width="30" draggable="false" />
            </li>
            <li class="list-inline-item">
              <img src="https://decor-dreams.s3.eu-west-1.amazonaws.com/static/icons/payment_paypal.png" alt="PayPal payments" width="30" draggable="false" />
            </li>
          </ul>
        </div>
        <div class="col-6 col-md-3">
          <p class="mb-2"><strong>Company</strong></p>
          <ul class="list-unstyled">
            <li>
              <a href="{% url 'home' %}">Home</a>
            </li>
            <li>
              <a href="{% url 'products' %}">Shop Products</a>
            </li>
            <li>
              <a href="#">Design &amp; Planning</a>
            </li>
            <li>
              <a href="#">Decor Dreams Projects</a>
            </li>
            <li>
              <a href="#">Testimonials</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-md-3">
          <p class="mb-2"><strong>Assistance</strong></p>
          <ul class="list-unstyled">
            <li>
              <a href="#">Contact us</a>
            </li>
            <li>
              <a href="https://www.termsfeed.com/live/7bb0d942-6e1d-46d9-ac3c-1fe8a915cdb6" target="_blank">Privacy Policy</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr />
    <div class="container">
      <p class="text-center text-muted mb-0">Copyright 2024 Decor Dreams. All rights reserved</p>
    </div>
  </footer>
  