<footer class="footer">
    <div class="container py-4">
      <div class="row text-uppercase">
        <div class="col-md-3">
          <a href="#"><img class="footer_logo" src="https://decor-dreams.s3.eu-west-1.amazonaws.com/static/icons/logo.png" alt="Decor Dreams logo" width="120" /></a>
          <ul class="list-unstyled mt-4">
            <li>
              <a class="link" target="_blank" href="#" rel="external" aria-label="Visit our Facebook page (opens in new tab)">FACEBOOK</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 mt-4 mt-md-0 order-md-1">
          <p class="mb-3">Payment Methods</p>
          <ul class="list-inline">
            <li class="list-inline-item">
              <img src="https://decor-dreams.s3.eu-west-1.amazonaws.com/static/icons/payment_visa.png" alt="Visa payments" width="30" draggable="false" />
            </li>
            <li class="list-inline-item">
              <img src="https://decor-dreams.s3.eu-west-1.amazonaws.com/static/icons/payment_mastercard.png" alt="Mastercard payments" width="30" draggable="false" />
            </li>
            <li class="list-inline-item">
              <img src="https://decor-dreams.s3.eu-west-1.amazonaws.com/static/icons/payment_apple.png" alt="ApplePay payments" width="30" draggable="false" />
            </li>
            <li class="list-inline-item">
              <img src="https://decor-dreams.s3.eu-west-1.amazonaws.com/static/icons/payment_paypal.png" alt="PayPal payments" width="30" draggable="false" />
            </li>
          </ul>
        </div>
        <div class="col-md-3 mt-4 mt-md-0">
          <p class="mb-3">Company</p>
          <ul class="list-unstyled">
            <li>
              <a href="{% url 'home' %}">Home</a>
            </li>
            <li>
              <a href="{% url 'products' %}">Shop Products</a>
            </li>
            <li>
              <a href="#">Design &amp; Planning</a>
            </li>
            <li>
              <a href="#">Decor Dreams Projects</a>
            </li>
            <li>
              <a href="#">Testimonials</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 mt-4 mt-md-0">
          <p class="mb-3">Assistance</p>
          <ul class="list-unstyled">
            <li>
              <a href="#">Contact us</a>
            </li>
            <li>
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr />
    <div class="container">
      <p class="text-center text-muted mb-0">Copyright 2024 Decor Dreams. All rights reserved</p>
    </div>
  </footer>
  