<div class="collapse navbar-collapse" id="main-nav">
  <ul class="navbar-nav w-auto mx-auto">
    <li class="nav-item">
      <a class="logo-font font-weight-bold nav-link mr-5" href="{% url 'home' %}" id="home-link">Home</a>
    </li>
    <li class="nav-item dropdown">
      <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop Products</a>
      <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
        <a href="{% url 'products' %}" class="dropdown-item border-left">All Products</a>
        <a href="{% url 'products' %}?category=sofas" class="dropdown-item border-left">Sofas</a>
        <a href="{% url 'products' %}?category=tables_desks" class="dropdown-item border-left">Tables &amp; desks</a>
        <a href="{% url 'products' %}?category=chairs" class="dropdown-item border-left">Chairs</a>
        <a href="{% url 'products' %}?category=outdoor_living" class="dropdown-item border-left">Outdoor living</a>
        <a href="{% url 'products' %}?category=decoration" class="dropdown-item border-left">Decoration</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="logo-font font-weight-bold nav-link mr-5" href="{% url 'interiordesign' %}">Interior Design</a>
    </li>
    <li class="nav-item">
      <a class="logo-font font-weight-bold nav-link mr-5" href="{% url 'project_gallery' %}">Decor Dreams Projects</a>
    </li>
    <li class="nav-item">
      <a class="logo-font font-weight-bold nav-link mr-5" href="{% url 'testimonials' %}">Testimonials</a>
    </li>
    <li class="nav-item">
      <a class="logo-font font-weight-bold nav-link mr-5" href="{% url 'contact' %}">Contact us</a>
    </li>
  </ul>
</div>

{% block postloadjs %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var currentUrl = window.location.href;

    var links = document.querySelectorAll('.navbar-nav .nav-link, .navbar-nav .dropdown-item');

    links.forEach(function(link) {
      if (link.href === currentUrl) {
        link.closest('.nav-item').classList.add('active');
      }
    });
  });
</script>

{% endblock %}
