{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <meta name="description" content="Create a home that's uniquely you with Decor Dreams! Explore luxury home produts and personalized interior design services." />
      <meta name="keywords" content="Decor Dreams, home decor, home products, luxury furnishings, interior design consultation, interior design service Dublin" />
      <meta name="author" content="Izabella Lopes" />
      <!-- Favicon -->
      <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    {% endblock %}

    {% block extra_meta %}

    {% endblock %}

    {% block corecss %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Open+Sans&display=swap" />
      <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% endblock %}

    {% block extra_css %}

    {% endblock %}

    {% block corejs %}
      <script src="https://kit.fontawesome.com/d0b182acbf.js" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script> <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
      <!-- Stripe -->
      <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}

    {% endblock %}

    <title>
      Decor Dreams{% block extra_title %}

      {% endblock %}
    </title>
  </head>

  <body>
    <header class="header bg-white container-fluid fixed-top">
      <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
        <div class="col-lg-4 my-auto py-1 py-lg-2">
          <a href="{% url 'home' %}" class="nav-link main-logo-link" aria-label="home"><img class="logo-image" src="https://decor-dreams.s3.eu-west-1.amazonaws.com/static/icons/logo.png" alt="Decor Dreams logo" /></a>
        </div>
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
          <form method="GET" action="{% url 'products' %}">
            <div class="input-group w-100">
              <input class="form-control border-green rounded-4" type="text" name="q" placeholder="Search our site" aria-label="Search" />
              <div class="input-group-append green-hover">
                <button class="form-control btn bg-lightgreen border-green rounded-4" type="submit" aria-label="Search Button"><span class="icon"><i class="fas fa-search"></i></span></button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
          <ul class="list-inline list-unstyled text-center text-lg-right my-0 user-bag">
            <li class="list-inline-item dropdown nav-icons">
              <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="user options menu">
                <div class="text-center green-hover">
                  <div>
                    <i class="fas fa-user fa-lg"></i>
                  </div>
                  {% if request.user.is_authenticated %}
                    <span class="my-0 text-uppercase">{{ user.username }}</span>
                  {% else %}
                    <p class="my-0">My Account</p>
                  {% endif %}
                </div>
              </a>
              <div class="dropdown-menu border-green rounded-4 logo-font font-weight-bold" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                  {% if request.user.is_superuser %}
                    <a href="{% url 'add_product' %}" class="dropdown-item green-hover">Add a Product</a>
                    <a href="{% url 'add_design' %}" class="dropdown-item green-hover">Add a Interior Design Service</a>
                    <a href="{% url 'add_project_image' %}" class="dropdown-item green-hover">Add a Decor Dreams Project</a>
                    <a href="{% url 'consultation' %}" class="dropdown-item green-hover">Check consultations</a>
                  {% endif %}
                  <a href="{% url 'profile' %}" class="dropdown-item green-hover">My Profile</a>
                  <a href="{% url 'account_logout' %}" class="dropdown-item green-hover">Sign out</a>
                {% else %}
                  <a href="{% url 'account_signup' %}" class="dropdown-item green-hover">Register</a>
                  <a href="{% url 'account_login' %}" class="dropdown-item green-hover">Sign In</a>
                {% endif %}
              </div>
            </li>
            <li class="list-inline-item nav-icons green-hover">
              <a class="{% if grand_total %}{% endif %} nav-link" href="{% url 'view_bag' %}">
                <div class="text-center green-hover">
                  <div>
                    <i class="fas fa-shopping-bag fa-lg"></i>
                  </div>
                  <p class="my-0">
                    {% if grand_total %}
                      € {{ grand_total|floatformat:2 }}
                    {% else %}
                      € 0.00
                    {% endif %}
                  </p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row bg-white">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
          {% include 'includes/mobile-top-header.html' %}
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="toggler-icon top-bar"></span>
            <span class="toggler-icon middle-bar"></span>
            <span class="toggler-icon bottom-bar"></span>
          </button>
          {% include 'includes/main-nav.html' %}
        </nav>
      </div>
      <div id="delivery-banner" class="banner row text-center">
        <div class="col bg-lightgreen">
          <h4 class="logo-font my-1 banner-content">Free delivery on orders over € {{ free_delivery_threshold }}!</h4>
        </div>
      </div>
    </header>

    {% if messages %}
      <div class="message-container mt-3 ml-3">
        {% for message in messages %}
          {% with message.level as level %}
            {% if level == 40 %}
              {% include 'includes/toasts/toast_error.html' %}
            {% elif level == 30 %}
              {% include 'includes/toasts/toast_warning.html' %}
            {% elif level == 25 %}
              {% include 'includes/toasts/toast_success.html' %}
            {% else %}
              {% include 'includes/toasts/toast_info.html' %}
            {% endif %}
          {% endwith %}
        {% endfor %}
      </div>
    {% endif %}

    {% block page_header %}

    {% endblock %}

    {% block content %}

    {% endblock %}

    {% include 'includes/mailchimp.html' %}

    {% include 'includes/footer.html' %}

    {% block postloadjs %}
      <!-- Shows toasts -->
      <script type="text/javascript">
        $('.toast').toast('show')
      </script>
    {% endblock %}
  </body>
</html>
