{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
  | Add Interior Design Service
{% endblock %}

{% block page_header %}
  <div class="container header-container">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
{% endblock %}

{% block content %}
  {% load crispy_forms_tags %}

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <hr />
        <h2 class="logo-font title text-center">Add a Interior Design Service</h2>
        <hr />
      </div>
    </div>
    <div class="row justify-content-center mb-3">
      <div class="col-11 col-md-8 col-lg-6 mt-3">
        <form method="POST" enctype="multipart/form-data">
          {{ form|crispy }}
          {% csrf_token %}
          <div class="text-right">
            <a class="btn btn-outline-dark border-green rounded-4 m-2" href="{% url 'interiordesign' %}">Cancel</a>
            <button type="submit" class="btn btn-green rounded-4">Add Interior Design Service</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block postloadjs %}
  {{ block.super }}
  <script>
    $('#new-image').change(function () {
      var file = $('#new-image')[0].files[0]
      $('#filename').text(`Image will be set to: ${file.name}`)
    })
  </script>
{% endblock %}
