{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
  | Interior Design Service
{% endblock %}

{% block page_header %}
  <div class="container header-container">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container container-wide">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <hr />
        <h2 class="logo-font text-center">Interior Design Service</h2>
        <hr />
        {% if user.is_superuser %}
          <div class="col-12">
            <div class="pt-3 text-center">
              <a href="{% url 'add_design' %}" class="btn btn-sm btn-green py-2 mb-3 rounded-4" aria-label="Add new interior design service">Add a Interior Design Service</a>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  {% for design in design_list %}
    <div class="row alt-colour">
      <div class="container">
        <div class="col-12 pl-md-4">
          <div class="card my-3 border-0 bg-transparent">
            <div class="row no-gutters">
              <div class="col-md-5">
                <div class="card-img">
                  {% if design.image %}
                    <img src="{{ design.image.url }}" class="img-fluid design-img" alt="{{ design.type }}" />
                  {% else %}
                    <img src="{{ MEDIA_URL }}noimage.jpg" alt="{{ design.type }}" class="img-fluid design-img" />
                  {% endif %}
                </div>
              </div>
              <div class="col-md-7">
                <div class="card-body px-0 px-md-4 py-2">
                  <div>
                    <h2 class="pt-2 pt-md-0 card-title text-left">{{ design.type }}</h2>
                  </div>
                  <div class="mb-5">
                    <p>{{ design.description }}</p>
                    <a href="#" class="btn btn-primary">Request Service</a>
                  </div>
                </div>
                <div class="row">
                  {% if request.user.is_superuser %}
                  <small class="ml-3">
                    <a href="{% url 'edit_design' design.id %}" class="btn btn-sm btn-info ml-1 mb-2 rounded-pill"><i class="fas fa-edit"></i> Edit</a> |
                    <a href="{% url 'delete_design' design.id %}" class="btn btn-sm btn-danger mb-2 rounded-pill"><i class="fas fa-trash-alt"></i> Delete</a>
                  </small>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
