{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
  | Interior Design Service
{% endblock %}

{% block page_header %}
  <div class="container header-container">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container container-wide">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <hr />
        <h2 class="logo-font title text-center">Interior Design</h2>
        <hr />
        {% if user.is_superuser %}
          <div class="col-12">
            <div class="pt-3 text-center">
              <a href="{% url 'add_design' %}" class="btn btn-sm btn-green py-2 mb-3 rounded-4 text-uppercase" aria-label="Add new interior design service">Add a Interior Design Service</a>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="container">
    <p class="design-slogan">
      At <span class="text-darkgolden font-weight-bold">Decor Dreams</span>, we believe that great design should be accessible to everyone. Let us help you transform your home into a place you'll love to live in. Get in touch with us today to <span class="text-darkgolden font-weight-bold">schedule a consultation!</span>
    </p>
    {% for design in design_list %}
      {% include 'interiordesign/includes/design_item.html' %}
    {% endfor %}
  </div>

  <div class="btt-button shadow-sm rounded-4 border-green">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up mx-auto my-auto"></i>
    </a>	
  </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
      $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
      })
    </script>
{% endblock %}

