{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
  | Product Details
{% endblock %}

{% block page_header %}
  <div class="container header-container">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="product-detail-img rounded-4 mt-5 ">
          {% if product.image %}
            <img src="{{ product.image.url }}" draggable="false" alt="{{ product.name }}" />
          {% else %}
            <img src="{{ MEDIA_URL }}noimage.jpg" draggable="false" alt="{{ product.name }}" />
          {% endif %}
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="mt-md-5">
          <div class="pt-4 px-0 pl-md-3">
              <h3 class="product-detail-title"><b>{{ product.name }}</b></h3>
            <hr>
            <div>
              <p class="lead font-weight-bold">€ {{ product.price }}</p>
            </div>
            <div class="row">
              {% if request.user.is_superuser %}
              <small class="ml-3">
                <a href="{% url 'edit_product' product.id %}">Edit</a> |
                <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
              </small>
            {% endif %}
            </div>
            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
              {% csrf_token %}
              <div class="form-row">
                <div class="col-12">
                  <p class="mt-3 font-weight-bold">Quantity:</p>
                  <div class="form-group w-50">
                    <div class="input-group input-group-{{ product.id }}">
                      <div class="input-group-prepend">
                        <button class="decrease-qty btn border-golden bg-lightgreen decrease-qty_{{ product.id }}" data-item_id="{{ product.id }}" aria-label="Decrease Quantity"><span><i class="fas fa-minus"></i></span></button>
                      </div>
                      <input class="form-control border-green text-center qty_input id_qty_{{ product.id }}" aria-label="Quantity" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" />
                      <div class="input-group-append">
                        <button class="increase-qty btn border-golden bg-lightgreen increase-qty_{{ product.id }}" data-item_id="{{ product.id }}" aria-label="Increase Quantity"><span><i class="fas fa-plus"></i></span></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <a href="{% url 'products' %}" class="keep-shopping btn btn-outline-dark border-green rounded-4 mt-3 mr-2">
                    <span class="icon"><i class="fas fa-chevron-left"></i></span>
                    <span class="text-uppercase">Keep Shopping</span>
                  </a>
                  <input type="submit" class="add-bag btn btn-green rounded-4 text-uppercase mt-3" value="Add to Bag" />
                </div>
                <input type="hidden" name="redirect_url" value="{{ request.path }}" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-3">
      <div class="col">
        <div class="card">
          <div class="card-header product-detail-info">
            <h4>Product Details</h4>
          </div>
          <div class="card-body card-body-detail">
            <div class="accordion" id="accordionExample">
              <div class="card rounded-4">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0"><button class="btn btn-link font-weight-bold btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Description</button></h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body card-body-detail">{{ product.description }}</div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h2 class="mb-0"><button class="btn btn-link font-weight-bold btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Details &amp; Dimensions</button></h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body card-body-detail">{{ product.details_dimensions|linebreaksbr }}</div>
                </div>
              </div>
              <div class="card rounded-4">
                <div class="card-header" id="headingThree">
                  <h2 class="mb-0"><button class="btn btn-link font-weight-bold btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Delivery &amp; Returns</button></h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body card-body-detail">{{ product.delivery_returns }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}
